<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjcacn.mapper.UsersMapper">
    <insert id="InsertUser" parameterType="com.xjcacn.pojo.Users">
        insert into users(username,userage) value(#{username},#{userage})
    </insert>

    <select id="selectUserAll"  resultType="com.xjcacn.pojo.Users">
        select * from users
    </select>
</mapper>